# Python Variables & Data Types

## Variables
One of the most fundamental concepts of Python are variables. A Python variable is used to store some value or values. Each variable has a name and a data type. We can assign a value to a variable and then reference this value with the variable name.

Variables are important because they can allow our code to be more flexible, take input, and can make it easier to read and interpret as well.

## Assigning Variables
A variable is created when you assign a value to it and execute the code.

For example, we assign the variable x a value of 7.

In [ ]:
x = 7

We can assign multiple variables on different lines in one cell. For example, we assign variable y to be equal to 11. Press enter to start a new line and create another variable y to be equal to 25. After we execute both lines, both variables have been assigned.

In [ ]:
y = 11
y = 25

We just demonstrated a few variables with single letter names. But we can name a variable in other ways as well. A variable name must start with a letter or the underscore character. A variable name can contain numbers but ***cannot*** start with a number.

In [ ]:
_testletter = "Hello"
testletter = "Holla"


We can make our variables easier to read and understand by adding comments to our code. Once a line of code contains the `#` character, anything after it on the same line will be considered a comment and not code.

In [ ]:
#this code should be to print Hello and Holla
print(_testletter + testletter)

HelloHolla

## Printing Variables
If we want to see the value of x, we can type x and execute the code. In Jupyter notebooks, the last line of code is implicitly printed as an output.

In [ ]:
x

7

However, if we type two variables in different lines, only the last line will be printed. So here we only see the value of z being printed.

In [ ]:
z = 11
z = 12
print(y,z)

25 12

If we want to see the output of both, we can use the `print` function. When we execute this code now, we can see the values of both y and z.

In [ ]:
print(y)
print(z)

25
12

An important point to keep in mind are that variable names are case sensitive. Let's try to print variable x which we defined earlier. And also try to print variable X, with a capitalized X, as the name.

The result shows that Python was able to recognize and print the first variable, but we got an error message for the second line. The green arrow tells us in which line the error occurs. It also tells us what the error is. “name X is not defined”. That means x variable is differnt from X variable.

In [ ]:
print(x)
print(X)

7

NameError: name 'X' is not defined

## Reassigning Variables
Another important point to note is if you assign a variable multiple times, the latest line of code executed has the final say in what the variable is going to be. In Jupyter notebooks, it is the last cell that ran, while in scriping it is the last line.

At the beginning of the lesson, we declared x to equal to 7. If we print x now, we can see the value as 7.

In [ ]:
print(x)

7

Now, in this next block, we can reassign x to equal 2. We can add a comment to say that we're reasigning x. This time the output shows x equals 2 instead of 7.

In [ ]:
x = 2
x

2

One thing we need to be careful of when reassigning variables is the output of code blocks not matching unexecuted code.

For example, if we print x in the code below, we return the result of 7. Then, if we reassign x to do in the code block above, the results below do not update automatically. The change in variable x above is not reflected in the output below. We would need to re-execute the code below to print the new value of x.

In [ ]:
print(x)

2

## Data Types
The data type of a variable is defined when a value is assigned to the variable. The data type of a variable is a way to classify the type of value that it can represent. This will help determine what type of actions and operations can be performed on it.

There are four basic types of data in Python: integers (whole numbers), float (decimal numbers), boolean (True or False), and string (text).

To see what data type a variable is, you can apply the `type()` function to the variable.

### Intergers (int) - Whole Numbers
Whole numbers are typically `int` - short for intergers.  This also applies for negative numbers.

In [ ]:
type(10)

int

In [ ]:
type(-10)

int

### Float (float) - Decimal Numbers
Numbers with decimals are stored as `float`.

In [ ]:
type(0.12)

float

### Boolean (bool) - True/False
A `boolean` value is either `True` or `False`. For example, if we ask whether 10 is larger than 9, it will return the value `True`.

In [ ]:
bool(9>10)

False

We can also assign a boolean value to a variable. Here we define the variable boolean_a equals `True`. Using the `type` function on this variable, we can see the data type is boolean.

In [ ]:
type(10>9)

bool

Boolean values are special text reserved in Python and have to be capitalized. If we assign boolean_b with non-capitalized true, we'll get a error message saying that name "true" is not defined

In [ ]:
boolean_b = True
type(boolean_b)
boolean_a = false

NameError: name 'false' is not defined

### Strings (string) - Text
A `string` is a list of characters. Strings in Python are declared a special way applying '' or "".

In [ ]:
print(_testletter)

Hello

Again, we can use `type()` function to see the type of the data.

In [ ]:
type(testletter)

str

While adding the quotation marks or calling the variable name will give us the value of the variable. We're using print function since we're asking Python to print two lines of code.

In [ ]:
print(_testletter)
print("Hello")

Hello
Hello

A common cause of errors in strings is a string that contains apostrophes. The apostrophe might get mixed together with the single quotation marks and cause errors in our code. That requires us to use a special format to keep the apostrophes in string form.

In [1]:
test = 'I can"t fly'

One solution is to use `" "` instead of `' '`.

However, a better solution is to apply the `\` before the apostrophe to tell Python that this is not a quotation mark. It is much easier to spot a `\` next to the `'` than keeping track of different pairs of `''` or `""`.

In [ ]:
test = "I can't fly"
print("I can't fly")
print(test)

I can't fly
I can't fly

## Concatenating Strings
A common task in Python, when working with strings, is to concatenate (or combine) multiple strings together. When creating strings, Python automatically concatenates them without spaces.

In [ ]:
str_test1 = "Net"
str_test2 = "Profit"
print(str_test1 + str_test2)

NetProfit

Spaces have to be added within the strings themselves in order to be included.

However, using `+` to combine strings is a better practice because for some print statements, as it can get confusing to spot a space between the strings that we are combining.

We are also able to use a comma between strings in a print statement. A space will automatically be placed between the strings that are separated by a comma.

In [ ]:
print(str_test1, str_test2)
print(str_test1 + str_test2)
print(str_test1 + " " + str_test2)

Net Profit
NetProfit
Net Profit

## Convert and Combine Data Types
There may be instances where we will need to convert the `data type` of a variable. For example, this can be the case if we want to combine different types of variables into one string.

### Convert Data Types
We can convert numeric data types, like `int` and `float`, into other variable types by applying a `data type convert` function. For example, `int()` convert the variable `float_a` into an `integer`: the original value 1.25 rounds to 1.

In [ ]:
int(1.25)

1

We can also convert an `integer` into a `float` by applying the `float()` function.

In [ ]:
float(55616)

55616.0

We can convert different types of data to strings by using the `str()` function. This is helpful if we want to embed different types of data into a longer text string.

In [ ]:
str(9)

'9'

In [ ]:
str(10.72)

'10.72'

In [ ]:
str(True)

'True'

### Combine Data Types
Different types of data cannot be added together in their raw forms.  They have to be converted into the same type in order to combine them.

For example, let's create an integer variable called number. If we want to print this variable followed by a string, we'll get an error message.

In [ ]:
numb = 5
print(numb + "Yeh")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

One solution is to use `str()` to turn the number into a string, and then concatenate the two strings.

In [ ]:
print(str(numb) + "Yeh")

5Yeh

# Input Feature

In [ ]:
input("Masukan angka: ")

Masukan angka:  7

'7'

# Tampung kedalam variabel

In [ ]:
inpRes = input("Masukan angka: ")

Masukan angka: 9

# Ubah menjadi integer

In [ ]:
inpRes = int(input("Masukan angka: "))
int(inpRes)

Masukan angka: 9

9

In [ ]:
type(inpRes)

int